html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #0b374b;
    background-color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    font-style: italic;
    font-size: 24px;
    color: #f37121;
}

h2 {
    color: #f37121;
}

.header {
    background-color: #0b374b;
    padding: 10px;
    text-align: center;
}

.header-small {
    background-color: #0b374b;
    padding: 10px;
    text-align: center;
}

.header-line {
    margin-top: 2px;
    border-top: 2px solid #0b374b;
}

.header-logo {
    width: 240px;
}

@media (min-width: 800px) {
    h1 {
        font-size: 32px;
    }

    /*
    .header {
        text-align: left;
        background: #0b374b url('/img/ships.png') no-repeat right;
    }
    */

    .header-logo {
        width: 300px;
    }
}

.footer {
    padding: 10px 20px 10px 20px;
}

.footer-left {
    text-align: center;
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: center;
}
@media (min-width: 800px) {
    .footer-left {
        text-align: left;
    }
    .footer-right {
        text-align: right;
    }
}

.navbar {
    padding-right: 20px;
    margin-bottom: 0;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-menu {
    font-size: 11px;
}

.main-content {
    padding: 10px;
}

@media (min-width: 800px) {
    .main-content {
        padding: 10px 20px 10px 20px;
    }
}

.feature-about {
    padding-left: 40px;
}

.feature-horizon {
    margin-top: 20px;
}

.feature-horizon-bg {
    background-color: #cae8f7;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}

.feature-participants {
    margin-top: 10px;
}

.partner {
    text-align: center;
    margin-bottom: 10px;
}

.partner-name {
    font-size: 14px;
}

.partner h3 {
    border-bottom: 1px solid lightgray;
    text-align: left;
}

.partner img {
    opacity: 0.4;
}

.partner a {
    font-size: 10px;
}

.qa-col {
    padding: 20px;
}

.qa .question {
    color: #466e7c;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

.qa .answer {
    font-size: 12px;
    margin-top: 10px;
}
