
<div ng-include="'partials/header-small.html'"></div>

<div class="main-content">

    <h1>EfficienSea2 Contacts</h1>


    <div class="row">

        <div class="col-sm-12 col-md-6 contact-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Manager</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <img src="/img/persons/thc.jpg" width="50" style="padding-bottom: 10px"/>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-10">
                            <address>
                                <strong>Thomas Christensen</strong><br>
                                Danish Maritime Authority<br>
                                Maritime Technology and Business Development<br>
                                <span class="glyphicon glyphicon-phone icon"></span>&nbsp;+45 25 11 18 54<br>
                                <span class="glyphicon glyphicon-envelope icon"></span>&nbsp;<a href="mailto:thc@dma.dk">thc@dma.dk</a><br>
                                &nbsp;<br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 contact-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Press and Communication</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <img src="/img/persons/bbp.jpg" width="50" style="padding-bottom: 10px"/>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-10">
                            <address>
                                <strong>Bjørn Borbye Pedersen</strong><br>
                                Danish Maritime Authority<br>
                                Maritime Technology and Business Development<br>
                                <span class="glyphicon glyphicon-phone icon"></span>&nbsp;+ 45 50 92 64 34<br>
                                <span class="glyphicon glyphicon-earphone icon"></span>&nbsp; + 45 91 37 60 00<br>
                                <span class="glyphicon glyphicon-envelope icon"></span>&nbsp;<a href="mailto:BBP@dma.dk">BBP@dma.dk</a><br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 contact-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Social</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <span class="fa fa-linkedin-square linkedin-icon"></span>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-10">
                                Join our
                                <a href="https://www.linkedin.com/groups/8468444/profile" target="_blank">
                                    <span class="fa fa-linkedin-square"></span>
                                    EfficienSea2 LinkedIn group
                                </a>
                                to get project updates.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

