
<div ng-include="'partials/header-small.html'"></div>

<div class="main-content">

    <h1>EfficienSea2 Events</h1>

    <div class="row event">

        <div class="col-sm-12 col-md-8 col-lg-6" style="padding: 20px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Conference: <b>GETTING CONNECTED TO THE FUTURE</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 event-data">
                            <div>
                                <span class="glyphicon glyphicon-calendar icon"></span>&nbsp;November 8-9, 2016
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-map-marker icon"></span>&nbsp;Copenhagen
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-envelope icon"></span>&nbsp;<a href="mailto:syza@dma.dk">syza@dma.dk</a>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            <div class="col-sm-12 col-md-9 col-lg-10 pull-right event-registration">
                                <a class="btn btn-warning" href="mailto:syza@dma.dk?Subject=Registration%20-%20GETTING%20CONNECTED%20TO%20THE%20FUTURE">
                                    Register...
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="event-details">
                        Technology and smart concepts are rapidly evolving within the field of
                        maritime navigation, communication and administration. Join us to learn
                        about the cutting edge developments of EfficienSea2. Discuss and shape
                        the future solutions with us.
                        <ul>
                            <li>Will The Maritime Cloud be groundbreaking, solve identity management and foster Big Data at sea?</li>
                            <li>Experience the alpha release of the regional e-Navigation pilot the BalticWeb platform.
                                Can the Baltic Sea become a role model for global roll out of e-Navigation?</li>
                            <li>Examine how standardised, navigational and administrative services can reduce the risk of accidents,
                                increase efficiency and create incentives to comply with emission regulations?</li>
                        </ul>

                        The full programme and exact location in Copenhagen will be announced in August 2016.<br>
                        Join our
                        <a href="https://www.linkedin.com/groups/8468444/profile" target="_blank">
                            <span class="fa fa-linkedin-square"></span>
                            EfficienSea2 LinkedIn group
                        </a>
                        to get project updates.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

