
<div ng-include="'partials/header-small.html'"></div>

<div class="main-content">

    <h1>EfficienSea 2 Publications</h1>

    <div class="row pub">
        <div class="col-md-12 col-lg-12">

            The list below is an ongoing list of free-to-view publications produced in the EfficienSea 2 project.
            You can also see EfficienSea 2 presentations made at conferences and other promotional events.
        </div>
    </div>

    <div class="row pub">
        <div class="col-sm-12 col-md-9 col-lg-10">
            <h4>Report on relevant ongoing external projects and test beds</h4>
            <p>This report sets out the strategy for carrying out the work of identifying the projects,
                test beds and organizations relevant to E2.<br>
                The report summarizes more detailed information collected in the project.
                The methods of providing access to the information for EfficienSea 2 partners are also discussed.
                The report is part of the overall aim of ensuring liaison and coordination with other relevant projects,
                test beds and policies.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 pub-files">
            <span>
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea%202_Report%20on%20relevant%20external%20projects%20and%20test%20beds.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea%202_Report%20on%20relevant%20external%20projects%20and%20test%20beds.pdf">
                        Report on relevant ongoing external projects and test beds
                    </a>
                </div>
            </span>
        </div>
    </div>

    <div class="row pub">
        <div class="col-sm-12 col-md-9 col-lg-10">
            <h4>Report on ongoing standardisation work relevant to the project</h4>
            <p>This report sets out the strategy for carrying out the task of identifying ongoing standardisation work,
                the organizations involved with standards relevant to the project and the main topics of interests.
                The methods of providing access to the information for Efficiency2 partners are also discussed.
                The report is part of the overall aim of ensuring coordination standardisation of solutions developed
                in EfficienSea 2.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 pub-files">
            <span>
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea%202_Report%20on%20ongoing%20standardisation%20work%20relevant%20to%20the%20project.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea%202_Report%20on%20ongoing%20standardisation%20work%20relevant%20to%20the%20project.pdf">
                        Report on ongoing standardisation work relevant to the project
                    </a>
                </div>
            </span>
        </div>
    </div>

    <div class="row pub">
        <div class="col-sm-12 col-md-9 col-lg-10">
            <h4>Analysis report on maritime communication and infrastructure</h4>
            <p>This report describes the needs related to infrastructure functions related to the ‘Maritime Cloud’
                to support effective digital interactions in the maritime domain.
                The source of identified needs are use cases collected within the project as well as external projects.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 pub-files">
            <span>
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea2_Analysis%20report%20on%20communication%20and%20infrastructure.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea2_Analysis%20report%20on%20communication%20and%20infrastructure.pdf">
                        Analysis report on maritime communication and infrastructure
                    </a>
                </div>
            </span>
        </div>
    </div>

    <div class="row pub">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Presentations of the EfficienSea 2 project</h4>
            <p>These presentations disclose the aim, scope and objectives of the EfficienSea 2 project –
                in a shorter and longer versions, at the beginning of the project.
                The presentations has been used internally in the project as well as externally at conferences and
                seminars in the maritime world.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 pub-files">
            <span class="pub-file">
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea2_Project%20presentation_Objectives.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea2_Project%20presentation_Objectives.pdf">
                        Project presentation - Objectives
                    </a>
                </div>
            </span>
            <span class="pub-file">
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea2_Project%20presentation_Concept%20and%20services.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea2_Project%20presentation_Concept%20and%20services.pdf">
                        Project presentation - Concept and services
                    </a>
                </div>
            </span>
            <span class="pub-file">
                <div class="pub-file-img">
                    <a target="_blank" href="/publications/EfficienSea2_Project%20preseantation_One%20page.pdf">
                        <img src="/img/pdf.png"/>
                    </a>
                </div>
                <div class="pub-file-label">
                    <a target="_blank" class="pub-label"
                       href="/publications/EfficienSea2_Project%20preseantation_One%20page.pdf">
                        Project presentation - One page
                    </a>
                </div>
            </span>
        </div>
    </div>
</div>

