
<div ng-include="'partials/header-small.html'"></div>

<div class="main-content">

    <h1>EfficienSea 2 Questions & Answers</h1>

    <div class="row">
        <div class="qa-col col-md-12 col-lg-6">

            <div class="qa">
                <div class="question">How does EffiecienSea2 stand out from other similar projects? What new, unique elements is the project bringing forward in the field of navigation?</div>
                <div class="answer">
                    Two elements:
                    <ol>
                        <li>the Maritime Cloud will create a global framework for information sharing in the maritime domain.</li>
                        <li>We will take e-navigation services from a prototype stage through standardisation all the way to implementation.</li>
                    </ol>
                </div>
            </div>


            <div class="qa">
                <div class="question">What is the status of development of the Maritime Cloud? How close is the project to achieving a fully functional communications system? When do you envision it to become a reality?</div>
                <div class="answer">The three year project just startet this May. It's our ambition to have a prototype done half way through the project and that the Maritime Could
                    is a reality in three years functional in the Arctic and Baltic and matured for global roll out.</div>
            </div>


            <div class="qa">
                <div class="question">How will e-navigation change the current experience of seafarers?</div>
                <div class="answer">E-navigation will make it easier for the seafarer to get and extract the information they need for navigation and reporting.</div>
            </div>

            <div class="qa">
                <div class="question">Will seafarers need guidance and education in how to use the new systems, such as VDES (VHF Data Exchange System)?</div>
                <div class="answer">Once the new solutions reach on board equipment the guidance needed, I imaging, will be part of the regual training in relations to ECDIS etc.
                    Much work however is done to make it as intuitive as possible. The VDES is only the data link behind and will not effect the seafarer.
                </div>
            </div>

            <div class="qa">
                <div class="question">How does VDES differ from the current model used in navigation at the moment?</div>
                <div class="answer">The VDES process is moving some of the VHF frequences from VHF voice exchange to data exchange between ship and ship and ship and shore.</div>
            </div>

            <div class="qa">
                <div class="question">What is, largely, the timeline of the project? When do you envision a result?</div>
                <div class="answer">The project is three years. During is timeframe we will implement functional websites where the e-navigation services can be used.
                    See <a href="https://arcticweb.e-navigation.net/" target="_blank">Arcticweb.dk</a> as reference.</div>
            </div>

            <div class="qa">
                <div class="question">What advantages will be brought about by e-navigation in terms of safety, sustainability and efficiency (or any other areas)?</div>
                <div class="answer">E-navigation will give the seafarer better information to act on and free up time from reporting and administration to use on navigating.
                    This will hopefully lead to more safety, sustainability and efficiency.
                    <p/>
                    The Maritime Cloud will give a range of benefits including creating a market place for maritime services.
                    Please see the <a href="https://vimeo.com/108586118" target="_blank">Maritime Cloud video</a> for more.</div>
            </div>

            <div class="qa">
                <div class="question">Is this project directly following on from the original EfficienSea project?</div>
                <div class="answer">Yes it is, even though there is a couple of years gap.</div>
            </div>

            <div class="qa">
                <div class="question">Will it take forward some of the outcomes of EfficienSea 1?</div>
                <div class="answer">The parts of EfficienSea 1 that dealt with e-Navigation will be taken forward in the project. Some of the services like Navigational Warnings will be implemented in real life in the project.</div>
            </div>

        </div>
        <div class="qa-col col-md-12 col-lg-6">

            <div class="qa">
                <div class="question">The original EfficienSea had many different elements to it: is EfficienSea2 having a more narrow focus?</div>
                <div class="answer">We have cut a way some elements and added other.  The main focus will be on navigational challenges. But we have added port reporting and emission (SOx) monitoring.</div>
            </div>

            <div class="qa">
                <div class="question">EfficienSea 1 had a work programme that covered recruitment and competencies. Is there anything similar in EfficienSea2?</div>
                <div class="answer">No, we will not focus on these parts.</div>
            </div>

            <div class="qa">
                <div class="question">It says that the development of the Maritime Cloud is an important element of EfficienSea2:
                    can you explain more about the Cloud and some of the ideas about how it could be developed? What benefits could it offer to crew?</div>
                <div class="answer">
                    The concept of the Maritime Could was born from the realisation that in order for e-Navigation to work on a global scale you need a trusted place where you can identify e-Navigation services.
                    The Maritime Cloud has main three components. A service registry much like the app store where you can find services in a given area. A secure and trusted identity registry of data providers and users.
                    And an intelligent messaging server that takes you location and communication link into account when sharing data.
                    Read more about the Maritime Cloud at <a hreg="http://www.maritimecloud.net" target="_blank">www.maritimecloud.net</a>. There is also a video introduction.
                    <p/>
                    The benefits for the crew could be numerous; one trusted place to locate e-navigation services around the world and identity registry also has the potential to enable digital reporting to ports, VTS and other authorities.</div>
            </div>

            <div class="qa">
                <div class="question">In talking about the other big aim of developing new digital services for navigation and ship emission reporting, am I correct in thinking that these aim to help reduce the workload for ships’ crews?</div>
                <div class="answer">Yes reduction of workload and heighten safety.</div>
            </div>

            <div class="qa">
                <div class="question">I am very interested in VDES – we have not reported on this before, and I would really appreciate more information about the system and how it could work?
                    Is it something that would have a direct benefit to seafarers?</div>
                <div class="answer">
                    Here’s the quote on the work on the communication link from our project application:
                    <blockquote style="font-size: 12px">
                        <b>VDES</b><br/>
                        ITU WP5B, IMO, and IALA are working on the requirements for the VDES and specification of radio technical standards and protocols using the existing marine VHF band to exchange data between ships
                        and from ship to shore, both terrestrially and over satellite. The maximum data speed is estimated to be up to 250 kbps. The concept includes both data transmission and ASM as known from the AIS.
                        <p/>
                        EfficienSea 2 will gather vendors and research institutes around the definition of protocols and live testing of the VDES concept. The tests aim to demonstrate the basic communication parameters
                        in real-life scenarios, such as coverage area and factors influencing the coverage area, the effect of other nearby transmitters, and the bandwidth available under changing conditions.
                        Performance in the Arctic region is of particular interest when addressing the coverage for broadcast of safety information and quality of positioning services (European GNSS).
                        The project will liaise with the ESA initiative under the ARTES 1 programme, which intends to fly a satellite demonstration mission during the project timeframe, and with other initiatives aimed at
                        demonstrating or operationalizing frameworks for VDES.
                    </blockquote>
                </div>
            </div>

            <div class="qa">
                <div class="question">Am I right in thinking that the project is concentrated on the Baltic region? Is it hoped that the results can be applied on a wider regional or even international basis?</div>
                <div class="answer">The project has two geographical implementation areas - the Arctic and Baltic areas. But much work will be done in the project on global standardisation and harmonisation. So hopefully the results will have global impact.</div>
            </div>

        </div>
    </div>
</div>

